# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# Optional npm cache directory
.npm

# Optional ESLint cache
.eslintcache

# Environment variables
.env

# Misc
.DS_Store
.idea/
.vscode/